section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem;
  width: 100%;
}

.sect-heading-container {
  text-align: start;
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 100%;
}

select,
.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  min-width: 200px;
}

@media (min-width: 992px) {
  .container {
    width: 60%;
  }

  section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 60%;
  }

  section {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 80%;
  }

  section {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  section {
    width: 100%;
  }
}
