section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

form {
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem;
}

.sect-heading-container {
  text-align: start;
  width: 75%;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

select,
.list-group-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
